@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 62.5%;
}

a {
  font-size: 2rem;
  font-weight: 400;
}

h1 {
  font-family: 'Righteous', sans-serif;
}

.title {
  font-size: 10rem;
  font-weight: 700;
}

.subtitle {
  font-size: 5rem;
  font-weight: 700;
}
