.dashboard {
    color: white;
    background-color: #000000;
    background: linear-gradient(black, #0C0032);
    height: 100%;
    min-height: 700px;
    width: 100%;
    min-width: 1350px;
    display: flex;
    flex-direction: column;
}

.dashboard-navbar {
    width: 100%;
    background: black;
}

.navbar-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em 4em;
}

.navbar-container:last-child {
    margin-left: auto;
}

.navbar-container button {
    color: white;
    opacity: 0.5;
}

.navbar-container button:hover {
    font-size: 2rem;
    cursor: pointer;
    opacity: 1;
}

.dashboard-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-grow: 1;
    min-height: 0;
    justify-content: space-between;
    align-items: stretch
}

.col {
    padding: 2.5% 5%;
    width: 30%;
    background: #282828;
    border-radius: 1em;
}



