.dashboard {
    color: white;
    height: 100%;
    width: 100%;
}

.dashboard-navbar {
    width: 100%;
    background: black;
}

.navbar-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1.25%;
}

.navbar-container:last-child {
    margin-left: auto;
}

.navbar-container button {
    color: white;
    opacity: 0.5;
}

.navbar-container button:hover, button:active {
    font-size: 2rem;
    cursor: pointer;
    opacity: 1;
}

.dashboard-container {
    width: 97.5%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    grid-gap: 10px;
}

.col {
    background: #282828;
    border-radius: 1em;
    padding: 5% 7.5%;
    height: 91.5vh;
    min-height: 600px;
}
