.login-bg {
    background: url('../images/login-bg.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.login-text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 15%;
}

.login-spotify {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 77%;
}

.login-link {
    background: #1DB954;
    color: white;
    text-decoration: none;
    padding: 1em 1.5em;
    border-radius: 1.5em;
    transition: 0.3s;
}

.login-link:hover {
    background: black;
}

