.login-bg {
    background: url('../images/keyboard.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.login-container {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0%, -50%);
    text-align: center;
}

.login-title {
    font-size: 10vh;
}

.login-subtitle {
    margin-bottom: 10vh;
}

.login-link {
    background: #1DB954;
    color: white;
    text-decoration: none;
    padding: 1em 1.5em;
    border-radius: 1.5em;
    transition: 0.3s;
}

.login-link:hover {
    background: black;
}

