.login-bg {
    background: url('../../images/login-bg.jpg');
    height: 100%;
    width: 100%;
    min-height: 325px;
    min-width: 325px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.login-text {
    position: absolute;
    top: 7.5em;
    width: 100%;
    text-align: center;
    color: white;
}

.login-link {
    position: absolute;
    bottom: 5em;
    background: #1DB954;
    color: white;
    text-decoration: none;
    padding: 1em 1.5em;
    border-radius: 1.5em;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}

.login-link:hover, .login-link:active {
    background: white;
    color: #1DB954;
    font-size: 1.75rem;
}
